* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial Rounded MT", Arial, sans-serif;
}

/* CSS syntax for section 1 */
.section-1 {
  background-color: #1f2937;
}

a, 
li {
  text-decoration: none;
  list-style: none;
}

a {
  color: #f9faf8;
}

li {
  color: #e5e7eb;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px 50px 120px;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
}

.nav-links {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: lighter;
  gap: 20px;
}

.jumbotron-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 120px 50px 120px;
  gap: 30px;
}

.image-1 {
  border-radius: 5px;
  width: 550px;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

#headline-1, 
#subtext-1 {
  padding-bottom: 25px;
}

#headline-1 {
  font-size: xx-large;
  font-weight: bolder;
  color: #f9faf8;
  font-size: 40px;
}

#subtext-1 {
  font-weight: lighter;
  font-size: 18px;
  color: #e5e7eb;
}

#button-1 {
  padding: 15px;
  border: none;
  width: 150px;
  border-radius: 10px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 15px;
  font-weight: 600;
  box-shadow: none !important;
}

/* CSS Syntax for Section 2 */
.jumbotron-2, 
.headline-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jumbotron-2 {
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 25px;
}

.headline-2 {
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: #1f2937;
}

.jumbotron-2 h4 {
  text-align: center;
  padding: 10px;
  color: #1f2937;
  font-size: 18px;
}

.image-2 {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}